header#header
    .wrapper.pt-4
        .container
            .header-line.row
                <nav class="navbar navbar-expand-lg bg-transparent">
                    <div class="container-fluid d-flex justify-content-between">
                        <a class="navbar-brand text-center fw-medium" href="#">
                            img(src="img/first_part_logo.png", alt="#")
                            |trips
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link fw-normal text-uppercase" aria-current="page" href="#">ГОловна</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fw-normal text-uppercase" href="#">послуги</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fw-normal text-uppercase" href="#">про компанію</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fw-normal text-uppercase" href="#">Акції</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fw-normal text-uppercase" href="#">Партнери</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fw-normal text-uppercase" href="#">відгуки</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fw-normal text-uppercase" href="#">Контакти</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            .header-info.row
                .col
                    h2.top-title.text-center.position-relative.m-auto.mb-2.text-uppercase.fw-normal Морські пригоди
                    p.top-text.text-center.m-auto.fw-normal.fst-italic.mb-4 Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
                    a.button.d-block.text-center.rounded-pill.text-decoration-none.text-uppercase.fw-normal(href="#") детальніше
                    h3.down-title.text-center.m-auto.text-uppercase.fw-normal обери свій план подорожі
                    p.down-text.text-center.fw-normal.fst-italic Наша фірма -лідер на ринку у своїй сфері
                    a.arrow.d-block.text-center.m-auto.position-relative.d-flex.justify-content-center.align-items-center(href="#main") 
                        span.arrow__icon